<nav class="navbar navbar-expand-lg mb-3">
    <div class="container-fluid">
      <a class="navbar-brand text" [routerLink]="'/search/home'">Stock Search</a>
  
      <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav fr">
          <li class="nav-item">
            <a class="nav-link text" [routerLink]="'/search/A'" (click)="isMenuCollapsed = true">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" [routerLink]="'/watchlist'" (click)="isMenuCollapsed = true">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text" [routerLink]="'/portfolio'" (click)="isMenuCollapsed = true">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  