<nav class="navbar navbar-expand-lg mb-3 text">
  <div class="container-fluid">
    <a class="navbar-brand text" id="main" [routerLink]="'/search/home'" (click)="activate(0)">Stock Search</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul ngbNav [animation]="false" [(activeId)]="activeId" class="navbar-nav" #nav="ngbNav">
        <li class="nav-item" [ngbNavItem]="1" [destroyOnHide]="false">
          <a style="width: 100%;" class="nav-link text" [routerLink]="'/search/' + getUrl()" [class]="activated == 1? 'active': ''" (click)="activate(1)" ngbNavLink>Search</a>
          <ng-template ngbNavContent><app-profile></app-profile></ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="2" [destroyOnHide]="false">
          <a class="nav-link text" [routerLink]="'/watchlist'" [class]="activated == 2? 'active': ''" (click)="activate(2)" ngbNavLink>Watchlist</a>
          <ng-template ngbNavContent><app-watchlist></app-watchlist></ng-template>
        </li>
        <li class="nav-item" [ngbNavItem]="3" [destroyOnHide]="false">
          <a class="nav-link text" [routerLink]="'/portfolio'" [class]="activated == 3? 'active': ''" (click)="activate(3)" ngbNavLink>Portfolio</a>
          <ng-template ngbNavContent><app-portfolio></app-portfolio></ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>