.title {
    font-size: 30px;
    padding: 20px;
}

li {
    padding: 20px;
    list-style-type: none;
}

.entry {
    background-color: white;
    padding: 20px;
    border: solid lightgrey 1px;
    height: 100px;
}

.entry-title {
    font-size: 30px;
    padding: 5px;
    width: 100%;
}

.entry-subtitle {
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.nums {
    text-align: right;
}

.btn-close {
    float: right;
}

ngb-alert {
    text-align: center;
}

.stockup, .stockdown, .price {
    display: inline;
}

@media (max-width: 499px) {
    .entry {
        /*padding: 10px;*/
    }
    .entry-title {

    }
}