.root {
    width: 100%;
}
.entry {
    width: 48%;
    margin: 10px 1%;
    height: 120px;
    display: inline-block;
    vertical-align: top;
    border: solid lightgray 1px;
    background-color: white;
    line-height: 120px;
}

img.v-align {
    height: 100px;
    width: 20%;
    display: inline-block;
    vertical-align: center;
}

.headline {
    display: inline-block;
    width: 80%;
    padding: 10px;
    vertical-align: middle;
    line-height: normal;
}

.title1 {
    font-weight: bold;
    font-size: 30px;
}

.title2 {
    font-size: 15px;
    color: dimgrey;
}

.modalheadline {
    font-size: 20px;
    font-weight: bold;
}

.summary {
    font-size: 12px;
}

.detail {
    color: dimgrey;
    font-size: 12px;
}

.social {
    line-height: 40px;
    padding: 10px;
    font: 20px;
    border: 1px lightgrey solid;
    bottom: 0;
}

.fb-share-button {
    display: inline;
}

.modal-body {
    height: 350px;
}

.content-data {
    height: 200px;
}