<!--<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-justified">
    <li [ngbNavItem]="1" [destroyOnHide]="false">
        <a ngbNavLink class="text">Summary</a>
        <ng-template ngbNavContent>
            <app-summary [colorGreen]="colorGreen"></app-summary>
        </ng-template>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="false">
        <a ngbNavLink class="text">Top News</a>
        <ng-template ngbNavContent>
            <app-top-news></app-top-news>
        </ng-template>
    </li>
    <li [ngbNavItem]="3" [destroyOnHide]="false">
        <a ngbNavLink class="text">Charts</a>
        <ng-template ngbNavContent>
            <app-charts></app-charts>
        </ng-template>
    </li>
    <li [ngbNavItem]="4" [destroyOnHide]="false">
        <a ngbNavLink class="text">Insights</a>
        <ng-template ngbNavContent>
            <app-insight></app-insight>
        </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
-->
<mat-tab-group mat-stretch-tabs [selectedIndex]="0" (click)="clicked()">
    <mat-tab label="Summary"><app-summary [colorGreen]="colorGreen"></app-summary></mat-tab>
    <mat-tab label="Top News"><app-top-news></app-top-news></mat-tab>
    <mat-tab label="Charts"><app-charts></app-charts></mat-tab>
    <mat-tab label="Insights"><app-insight></app-insight></mat-tab>
</mat-tab-group>