<div id="root">
    <div id="left">
        <div id="top">
            <table>
                <tr>
                    <th>High Price:</th>
                    <td>{{h}}</td>
                </tr>
                <tr>
                    <th>Low Price:</th>
                    <td>{{l}}</td>
                </tr>
                <tr>
                    <th>Open Price:</th>
                    <td>{{o}}</td>
                </tr>
                <tr>
                    <th>Prev. Close:</th>
                    <td>{{pc}}</td>
                </tr>
            </table>
        </div>
        <div id="title">
            About the company
        </div>
        <div id="bottom">
            <b>IPO Start Date:</b>&nbsp;{{ipo}}<br>
            <b>Industry:</b>&nbsp;{{industry}}<br>
            <b>Webpage:</b>&nbsp;<a href="{{webpage}}" target="_blank" rel="noopener noreferer">{{webpage}}</a><br>
            <b>Company Peers:</b><br>
            <div *ngFor="let item of peers" style="display: inline-block;">
                <a class="links"  [routerLink]="'/search/' + item" (click)="this.urlService.updateUrl(item)">{{item}},&nbsp;</a>
            </div>
        </div>
    </div>
    <div id="right">
        <highcharts-chart 
            *ngIf="chartDone"
            [Highcharts]="Highcharts"
            [options]="chartOptions"
            [constructorType]="'stockChart'"
            style="margin: auto;"
        ></highcharts-chart>
    </div>
<div> 