.root {
    height: 100%;
    width: 100%;
    min-width: 400px;
}
.bg {
    position: absolute;
    background-image: url("../assets/background-graph.jpg");
    filter:opacity(0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}