 <div class="max">
    <app-search (cancelEvent)="reset()" >
    </app-search>
    <mat-spinner *ngIf="loading" [diameter]="40">
    </mat-spinner>
    <div class="container">
        <!--
        <app-banner  [hidden]="!profileDisplayed" [stock_id]="stock_id" (emitCompleteEvent)="receiveComplete()" (emitNoDataEvent)="receiveNoData()" (emitColorEvent)="receiveColor($event)">
        </app-banner>
        <app-tabs  [hidden]="!profileDisplayed" [stock_id]="stock_id" [colorGreen]="colorGreen">
        </app-tabs>
        -->
        <app-banner  [hidden]="!display">
        </app-banner>
        <app-tabs  [hidden]="!display" [stock_id]="stock_id" [colorGreen]="colorGreen">
        </app-tabs>
    </div>
</div>
<!--*ngIf="profileWorking" for app-banner and app-tabs -->