ul {
    margin: auto;
    list-style-type: none;
    width: 30%;
    min-width: 250px;
    padding: 0px;
}

button {
    position: relative;
    text-align: left;
    margin: auto;
    padding-left: 10px;
    width: 90%;
    height: 50px;
    background-color: white;
    box-shadow: 0 3px 7px grey;
    border: none;
    display: block;
    z-index: 10;
}
button:hover {
    background-color: lightgrey;
}

mat-spinner {
    max-height: 40px;
}

span {
    width: 100%;
}

.stock {
    font-size: 15px;
    display: inline-block;
}

.max {
    height: 10px;
}