<div class="">
    <ul>
        <span>
            <li *ngIf="isLoading">
                <button>
                    <mat-spinner [diameter]="40"></mat-spinner>
                </button>
            </li>
        </span>
        <span *ngIf="!isLoading" >
            <li *ngFor="let item of list">
                <button [routerLink]="'/search/' + item.displaySymbol" (click)="this.urlService.updateUrl(item.displaySymbol); clicked()">
                    <div class="stock">{{item.displaySymbol}}</div> | {{item.description}}
                </button>
            </li>
        </span>
    </ul>
</div>