<div class="max">
    <ul>
        <span>
            <li *ngIf="isLoading">
                <button>
                    <mat-spinner [diameter]="40"></mat-spinner>
                </button>
            </li>
        </span>
        <span *ngIf="!isLoading">
            <li *ngFor="let item of list">
                <button [routerLink]="'/search/' + item.symbol" (click)="this.urlService.updateUrl(item.displaySymbol); reset()">
                    <div class="stock">{{item.symbol}}</div> | {{item.description}}
                </button>
            </li>
        </span>
    </ul>
</div>